.product {
  height: 100%;
  background-color: grey;
}

.images {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
  justify-content: space-between;
}

.photo {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  
  

  &__item {
    width: 20rem;
    height: 20rem;
    padding-top: 9px;
    text-align: center;
    position: relative;
    transform: scale(1);
    transition: all 2s;
    

    &:hover {
      transform: scale(1.1);
    }
    
    
    
  }

  &__title {
    position: absolute;
    display: flex;
    color: #b0b5b0;
    background-color: #414541;
    padding: .5rem 1.5rem;
    border: 1px solid #b0b5b0;
    text-transform: uppercase; 
    cursor: pointer;
    margin-bottom: 2px;
    font-size: 1rem;
    font-weight: 400;

    &:hover {
      color: #000;
      background-color: ivory;
    }
   
  }
}
